<div class="app-shell">

  <!-- =====================================================
       NAVBAR
       ===================================================== -->

  <app-navbar />


  <!-- =====================================================
       APPLICATION BODY
       ===================================================== -->

  <div class="app-shell__body">

    <!-- Sidebar -->
    <app-sidebar />

    <!-- Main Content -->
    <main
      class="app-shell__main"
      tabindex="-1"
    >
      <router-outlet />
    </main>

  </div>


  <!-- =====================================================
       FOOTER
       ===================================================== -->

  <app-footer />

</div>